
.vs/

Output/

packages/

Synovian Character Maker/bin/

Synovian Character Maker/obj/

Synovian Character Maker/Assets/Audio/

GoogleDriveTest/

Synovian Character Maker/Misc/client_secret.json

*.cd

*.htm
/Calculator/obj/Debug
/DataClasses/obj/Debug
